<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plan Your Next Adventure</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_home.css') }}">
</head>
<body>
    <header>
        <div class="button-container">
        <form action="/logout" method="POST" class="logout-form">
            <button type="submit" class="trip-button">Logout</button>
        </form>
        {% if prev %}
        <form action="/prev" method="GET">
            <button class="trip-button">Previous Selection</button>
        </form>
        {% endif %}
    </div>
    <h1>Auto Travel Planner 🌴</h1>
    <p class="subtext">Put in your preferences and let us plan your trip!</p>
    </header>
    <form action="/search" method="POST">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>                
            <p class="question"> 🏙️ What area would you like to visit? </p> 
                <label><input type="radio" name="location" value="New York City" required>New York City</label>
                <label><input type="radio" name="location" value="Los Angeles" required>Los Angeles</label>
                <label><input type="radio" name="location" value="Boston" required>Boston</label>
                <label><input type="radio" name="location" value="Chicago" required>Chicago</label>
                <label><input type="radio" name="location" value="Miami" required>Miami</label>

            <p class="question"> 💃 What interests you? </p>
                <label><input type="checkbox" name="interests" value="nature">Parks and Nature</label>
                <label><input type="checkbox" name="interests" value="sports">Sports</label>
                <label><input type="checkbox" name="interests" value="historical">Historical</label>
                <label><input type="checkbox" name="interests" value="architecture">Architecture</label>
                <label><input type="checkbox" name="interests" value="amusements">Amusement Parks</label>

                <p class="question"> 🍔 What kind of food are you looking for? </p>
                
                <label><input type="checkbox" name="food" value="restaurants">Restaurant</label>
                <label><input type="checkbox" name="food" value="cafes">Cafe</label>
                <label><input type="checkbox" name="food" value="fast food">Fast Food</label>
                <label><input type="checkbox" name="food" value="bars">Bar</label>
                
            <button type="submit" class="trip-button">Find Places</button>
        </div>
    </form>
</body>
</html>