<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <p> Hello world</p>
    

    <h1>API1: Find places based on your interests </h1>
    <form action="/search" method="post">
        <fieldset> 
            <h1> Choose an area you would like to visit! </h1> 
                <label><input type="radio" name="location" value="New York City">New York City</label>
                <label><input type="radio" name="location" value="Los Angeles">Los Angeles</label>
                <label><input type="radio" name="location" value="Boston">Boston</label>
                <label><input type="radio" name="location" value="Chicago">Chicago</label>
                <label><input type="radio" name="location" value="Miami">Miami</label>

            <h1> What type of locations do you want to visit? </h1>
                <label><input type="checkbox" name="interests" value="nature">Parks and Nature</label>
                <label><input type="checkbox" name="interests" value="sports">Sports</label>
                <label><input type="checkbox" name="interests" value="historical">Historical</label>
                <label><input type="checkbox" name="interests" value="architecture">Architecture</label>
                <label><input type="checkbox" name="interests" value="amusements">Amusement Parks</label>
        </fieldset>
        <button type="submit">Find Places</button>
    </form>

</body>
</html>