body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    margin-left: 400px;
    flex-direction: column;
}

header {
    width: 100%;
    margin-top: 100px; 
    margin-left: -200px; 
    /*padding: 5px 0;  Adds padding top and bottom only */
    text-align: center;
}

.button-container form {
    display: inline-block;
    margin-right: 7px;
}

h1 {
    font-size: 48px;
    color: #e31919;
    margin-bottom: 16px;
}

.trip-button {
    display: inline-block;
    background-color: #6AC9CC; /* Adjust the color to match the exact green shade in your image */
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 20px; /* Adjust for the desired curvature */
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    line-height: 25px; /* Adjust based on your padding and font size */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.trip-button:hover {
    background-color: #44787a; /* Slightly darker green on hover */
}

.title {
   
    font-size: 25px;
    color: #000000;
    
}

.text {
   
    font-size: 15px;
    color: #000000;
    
}

.svg-container {
    display: flex;  /* Aligns all child img elements in a row */
    justify-content: space-between;  /* Distributes space between the images */
    align-items: center;  /* Vertically aligns images if they have different heights */
    margin-left: 55px;
}

.svg-container img {
    margin-top: 50px;
    width: 100px;  /* Sets a fixed width for each SVG */
    height: auto;  /* Maintains the aspect ratio of the SVG */
    margin-right: 50px;
}
